<div class="heading">
  <h1>ADMIN PANEL</h1>
  <button class="btn-refresh" (click)="fetchData()">
    <img src="assets/icons/refresh.svg" />
  </button>
  <button routerLink="/sounds">◀&nbsp;&nbsp;BACK</button>
</div>

<div class="tile">
  <h3>CONTROL PANEL</h3>
  <div>
    <button class="btn-refetch" (click)="refetch()">REFETCH</button>
    <button class="btn-restart" (click)="restart()">RESTART</button>
  </div>
</div>

<div *ngIf="!soundStats; else soundstats" class="skeleton widetile" style="animation-delay: .1s; margin-bottom: 20px"></div>

<ng-template #soundstats>
  <div class="tile">
    <h3>INSTANCE</h3>
    <table>
      <tbody>
        <tr>
          <th>Local Sound Files</th>
          <td>{{ soundStats.sounds_len }}</td>
        </tr>
        <tr>
          <th>Sound Files Size</th>
          <td>{{ byteCountFormatter(soundStats.size_b) }}</td>
        </tr>
        <tr>
          <th>Local Entries</th>
          <td>{{ soundStats.log_len }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<div *ngIf="!stats; else datatiles">
  <div class="skeleton widetile" style="margin-bottom: 20px"></div>
  <div class="skeleton widetile" style="animation-delay: .2s; margin-bottom: 20px"></div>
  <div class="skeleton widetile" style="animation-delay: .3s; margin-bottom: 20px"></div>
</div>

<ng-template #datatiles>
  <div class="tile">
    <h3>INSTANCE</h3>
    <table>
      <tbody>
        <tr>
          <th>Guilds</th>
          <td>{{ stats ? stats.guilds.length : '' }}</td>
        </tr>
        <tr>
          <th>Connected Voice Channels</th>
          <td>{{ stats ? stats.voice_connections.length : '' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="tile">
    <h3>VITALS</h3>
    <table>
      <tbody>
        <tr>
          <th>Uptime</th>
          <td>{{ toDDHHMMSS(uptime) || '' }}</td>
        </tr>
        <tr>
          <th>Heap in Use</th>
          <td>{{ stats ? byteCountFormatter(stats.system.heap_use_b) : '' }}</td>
        </tr>
        <tr>
          <th>Stack in Use</th>
          <td>{{ stats ? byteCountFormatter(stats.system.stack_use_b) : '' }}</td>
        </tr>
        <tr>
          <th>Running Go Routines</th>
          <td>{{ stats ? stats.system.go_routines : '' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="tile">
    <h3>HOST AND BUILD</h3>
    <table>
      <tbody>
        <tr>
          <th>Architecture</th>
          <td>{{ stats ? stats.system.arch : '' }}</td>
        </tr>
        <tr>
          <th>Platform</th>
          <td>{{ stats ? stats.system.os : '' }}</td>
        </tr>
        <tr>
          <th>Go Compiler Version</th>
          <td>{{ stats ? stats.system.go_version : '' }}</td>
        </tr>
        <tr>
          <th>CPU Cores in Use</th>
          <td>{{ stats ? stats.system.cpu_used_cores : '' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

