@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import url('/static/css/vars.css');


body {
    background-color: var(--c-bg);
    display: flex;
	flex-direction: column;
	box-sizing: border-box;
	min-height: 70vh;
	padding: 40px 48px;
	align-items: center;
	justify-content: center;
}

h1, h2, h3, h4, p, a {
    font-family: 'Roboto', sans-serif;
    color: white;
}