:root {
    --c-bg: #191e20;
    --c-header: #112831;
    --c-footer: #112831;
    
    --c-btn-sound: rgb(0, 135, 202);
    --c-btn-sound-activated: #E91E63;
    --c-btn-random: rgb(0, 135, 202);
    --c-btn-enqueued: #6A1B9A;

    --c-btn-basic: rgba(255, 255, 255, 0.534);

    --c-btn-chaining-active: #FF6F00;

    --c-warning: #FFCA2833;
    --c-error: rgba(255, 40, 40, 0.2);

    --c-vol: #039BE5;
    --c-vol-bg: #191e20;
}

@keyframes randomButtonHover {
    0%      { background-color: var(--c-btn-random); border-color: var(--c-btn-random); }
    10%     { background-color: #FF5722; border-color: #FF5722; }
    20%     { background-color: #f44336; border-color: #f44336; }
    30%     { background-color: #E91E63; border-color: #E91E63; }
    40%     { background-color: #9C27B0; border-color: #9C27B0; }
    50%     { background-color: #673AB7; border-color: #673AB7; }
    60%     { background-color: #2196F3; border-color: #2196F3; }
    70%     { background-color: #00BCD4; border-color: #00BCD4; }
    80%     { background-color: #4CAF50; border-color: #4CAF50; }
    90%     { background-color: #CDDC39; border-color: #CDDC39; }
    100%    { background-color: #FFEB3B; border-color: #FFEB3B; }
}